<header id="wesk-header">
  <div class="body-content-container">
    <h2>Wes-K - Manufacturers' Representative</h2>
  </div>
</header>

<main id="wesk-main">
  <div class="body-content-container">

    <div class="row">
      <figure id="wesk-logo"></figure>
    </div>

    <div class="row">
      <p>Wes-K is a Manufacturer's Representative firm servicing the Southern California territory, specializing in Hi-Rel products. We're getting a brand-new website, so check back soon. In the meantime, please contact us at one of the methods below for more information.</p>
    </div>

    <h3 id="contact-us"> Contact Us </h3>
    <div class="row">
      <ul id="contact-table">
        <li>
          <h3>Phone</h3>
          <p>(949) 421-0124</p>
        </li> 
        <li>
          <h3>Fax</h3>
          <p>(949) 421-0127</p>
        </li> 
        <li>
          <h3>Address</h3>
          <p>25472 Spotted Pony Lane, Laguna Hills, CA 92653</p>
        </li>
      </ul>
    </div>
  </div>
</main>

<footer id="wesk-footer">
  <div class="body-content-container">
    <p> &#169; Wes-K </p>
    <p> Built by Aidan Miles </p>
  </div>
</footer>

